<head>
    <meta charset="UTF-8">
    <title>uiflo</title>
    <meta name="description" content="uiflo">
    <script src="https://apis.google.com/js/platform.js"  ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="206610660340-so39rfgsa5u51ieklusn0egm63asndn2.apps.googleusercontent.com">
    <link rel="shortcut icon" type="image/png" href="src/img/new.ico"/>
    <link rel="canonical" href="https://uiflow.com/">
    <link rel="stylesheet" href="mycss.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css">
    <link rel="stylesheet" href="https://unpkg.com/filepond/dist/filepond.min.css">
    <link rel="alternate" type="application/json+oembed" href="https://codepen.io/api/oembed?url=https%3A%2F%2Fcodepen.io%2Frikschennink%2Fpen%2FEQOLYe&amp;format=json" title="FilePond Profile Picture Upload">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<div   ng-app="myApp" ng-controller="myCtrl">
    <div class="col-md-12 col-lg-12 hidden-xs hidden-sm no-padding" style="background: white;padding: 1%;border-bottom:1px solid #EBEBEB;position: fixed;z-index: 2;">
        <div class="col-md-12 col-lg-12" style="margin-top: .5%;margin-bottom: .5%;">
            <div class="col-md-6 col-lg-6" style="color: #3D1369;font-size: 24px;font-weight: 700;font-family: Rubik;">
                <a href="index.html">
                    <div class="col-md-12 col-lg-12">
                        <img src="src/img/logo.svg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 no-padding">

                <div class="col-md-12 col-lg-12 no-padding" style="height: 5vh;">

                    <!-- Trigger the modal with a button -->
                    <div ng-click="changePageRegister('./login.html#register')" ng-if="userRole=='unauth'" id="loginbutton" class="col-md-4 col-lg-4 signUp pull-right " type="button" data-toggle="modal" data-target="#myModal" style="display: none;padding-right: 0;" >
                        <div style="background-color: #3D1369;border-radius: 4px;color: white;padding: 4%;cursor: pointer;text-align: center;">
                            SIGN UP
                        </div>
                    </div>
                    <div ng-click="changePageRegister('./login.html')" ng-if="userRole=='unauth'" id="signinbutton" class="col-md-4 col-lg-4 pull-right " type="button">
                        <div style="background-color: #3D1369;border-radius: 4px;color: white;padding: 4%;cursor: pointer;text-align: center;">
                            SIGN IN
                        </div>
                    </div>


                    <div ng-if="userRole!='unauth'" ng-show="userRole!='unauth'" class="dropdown pull-right col-md-1 col-lg-1 no-padding" style="height: 100%;">
                        <div class="dropbtn" style="height: 100%;"><img src="src/img/Path 5.svg" style="height: 100%;" alt=""></div>
                        <div class="dropdown-content" style="z-index: 2 !important;">
                            <a href="my-profile.html"  class="col-md-12 col-lg-12" style="margin-top: 2%;cursor: pointer;">MY PROFILE</a>
                            <div  onclick="signOut();" class="col-md-12 col-lg-12" style="margin-bottom: 5%;margin-top: 5%;cursor: pointer;">SIGN OUT</div>
                        </div>
                    </div>
                    <a ng-if="userRole!='unauth'" href="my-saves.html" class=" col-lg-3 col-md-3 pull-right mySaves no-padding" style="cursor: pointer; margin-right: 20px;">
                        <div class="" style=" border: 1px solid #3D1369;border-radius: 4px; color: #3D1369;text-align: center;font-size: 14px;padding: 4%;font-weight: 600;">
                            MY SAVES
                        </div>
                    </a>

                    <div ng-if="userRole=='admin'"   class="col-lg-2 col-md-2 pull-right  " type="button">
                        <a href="./admin-home.html" >
                            <div style="background-color: #3D1369;border-radius: 4px;color: white;padding: 4%;cursor: pointer;text-align: center;">
                                ADMIN
                            </div>
                        </a>
                    </div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->

                            <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 modal-content">
                                <div class="col-lg-12 col-md-12 flex-container"  >
                                    <div class="col-lg-12 col-md-12 flex-container" style="color: #F1B9B9;    padding: 6%;text-align: center">
                                        <div style="font-size: 30px;">SIGN UP</div>
                                        <div style="font-size: 14px;">TO UIFLO</div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <form class="col-lg-12 col-md-12" style="margin-bottom: 8%;">
                                            <div  style="color: #666666;text-align: left;font-size: 14px;font-weight: 600;"> Name</div>
                                            <input id="registed_name" type="text" name="username" class="text-field" placeholder="Enter n   ame" style="font-size: 14px;" />
                                            <div  style="color: #666666;text-align: left;font-size: 14px;font-weight: 600;">Email</div>
                                            <input id="registed_email" type="text" name="email" class="text-field" placeholder="Enter email id" style="font-size: 14px;" />
                                            <div  style="color: #666666;text-align: left;margin-top: 2%;font-size: 14px;font-weight: 600;"> Password</div>
                                            <input id="registed_password" type="password" name="password" class="text-field" placeholder="Enter password" style="font-size: 14px;" />

                                            <input type="button"  class="button" onclick="Register()" value="SIGN UP" style="background: #3D1369;color: white;" />
                                            <br>
                                            <div class="col-lg-12 col-md-12" style="margin-top: 3%;padding: 0">
                                                <div class="col-lg-12 col-md-12" style="border: 1px solid #C7C7C7;padding: 3%;cursor: pointer;border-radius: 5px;">
                                                    <div class="col-lg-1 col-md-1" style="padding: 0;"><img src="./src/img/facebook%20(1)-min.png" style="width:100%" alt=""></div>
                                                    <div class="col-lg-11 col-md-11" >Connect with facebook </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 g-signin2 no-padding"  data-onsuccess="onSignIn"  style="border: 1px solid #C7C7C7;cursor: pointer;margin-top: 2%;border-radius: 5px;">
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-lg-12 col-md-12 hidden-xs hidden-sm" style="background: #F7F7F7;padding: 3%;height: 100vh;">
    <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 " style="height: 90%;background: white;margin-top: 4%;">

        <div class="col-lg-12 col-md-12 sq-price" style="height: 100%;">
            <div class="col-lg-12 col-md-12"  ng-click="editable=1" onclick="edit_profile1()" style="text-align: right;color: #3D1369;font-size: 16px;margin-top: 3%;font-weight: 700;cursor: pointer;">EDIT</div>
            <div class="col-lg-12 col-md-12"  style="height: 80%;">
               <div class="col-lg-12 col-md-12">
                   <div ng-show="user.profile_pic" id="profile-container" class=" col-lg-offset-4 col-md-offset-4">
                       <img id="profileImage" src="{{user.profile_pic}}" />
                   </div>
                   <!-- <div ng-hide="user.profile_pic" id="profile-container" class=" col-lg-offset-4 col-md-offset-4">
                       <img id="profileImage" src="./src/img/default_profile_img.jpeg" />
                   </div> -->
                   <input id="imageUpload" type="file"
                          name="profile_photo" placeholder="Photo" required="" capture>
               </div>
<!--                <div id="profile-pic" class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4" >-->
<!--                    <input type="file"-->
<!--                           class="filepond"-->
<!--                           name="filepond"-->
<!--                           accept="image/png, image/jpeg, image/gif"/>-->
<!--&lt;!&ndash;                    <img src="{{user.profile_pic}}" style="background: #D8D8D8;border-radius: 50%;height: 15vh; width: 15vh; margin-top: 12%;">&ndash;&gt;-->
<!--                </div>-->
                   <div ng-hide="editable"  class="col-lg-12 col-md-12" id="myP" style="text-align: center;color: #666666;font-size: 30px;font-weight: 700;margin-top: 5%;">
                    {{user.first_name}}
                </div>
                   <div ng-show="editable" class="col-lg-12 col-md-12" id="myP" style="text-align: center;color: #666666;font-size: 30px;font-weight: 700;margin-top: 5%;">
                    <input type="text" ng-model="user.first_name" >
                </div>
                    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1" style="background-color: #FFFFFF;border: 1px solid #FFB2B2;border-radius: 27px;padding: 2%;color: #3D1369;font-size: 16px;text-align: center;font-weight: 600;margin-top: 3%;">
                        {{user.email}}
                    </div>
                <div ng-click="EditUser()" id="save_d" class="col-lg-12 col-md-12" type="submit" style="text-align: center;color: #3D1369;font-size: 16px;margin-top: 11%;font-weight: 700;cursor: pointer;">SAVE


                </div>
            </div>
            <div  class="col-lg-12 col-md-12" style="height: 20%;">
            <div class="col-lg-12 col-md-12" style="height: 20%;padding: 0">
                <a href="#" class="change-password"><div style="color:#3D1369;font-size: 16px;text-align: left;padding: 2%;font-weight: bold;cursor: pointer;">CHANGE PASSWORD<span class="fa fa-angle-right" style="float: right;font-weight: bold;"></span></div></a>
            </div>
            </div>
        </div>




        <div class="col-lg-12 col-md-12 change_p" style="height: 100%;">
            <div class="col-lg-12 col-md-12 no-padding"  style="height: 100%;">
                <div class="col-lg-12 col-md-12 no-padding" style=" color: #000000;font-size: 30px;font-weight: 700;text-align: left;margin-top: 7%;">
                    <a href="#" class="go-back"  ><img src="src/img/back (3) copy.svg" alt="" style="float: left"></a><div style="text-align: center">Change Password</div></div>
                <div class="col-lg-12 col-md-12 no-padding" style="margin-top: 17%;margin-bottom: 4%;">
                    <form action="">
                        <label class="col-lg-12 col-md-12 no-padding">Password</label>
                        <input ng-model="password1" class="col-lg-12 col-md-12" type="password" id="pwd"   placeholder="Enter password" style="background: white;border: 1px solid #C7C7C7;">
                        <label class="col-lg-12 col-md-12 no-padding" style="margin-top: 4%;">Repeat Password</label>
                        <input ng-model="password2" class="col-lg-12 col-md-12" type="password" id="pwd-repeat" placeholder="Repeat Password" style="background: white;border: 1px solid #C7C7C7;">

                        <input ng-click="ChangePassword()" type="submit" value="Submit" id="formButton" style="margin-top: 8%;">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 submit_p" id="form1" style="height: 100%;">
            <div class="col-lg-12 col-md-12 no-padding"  style="height: 100%;">
                <div class="col-lg-12 col-md-12 no-padding" style=" color: #000000;font-size: 30px;font-weight: 700;text-align: left;margin-top: 7%;">
                    <div style="text-align: center">Change Password</div></div>
                <div class="col-lg-12 col-md-12 no-padding" style="margin-top: 17%;margin-bottom: 4%;text-align: center">
                    <img src="src/img/Group 3.svg" alt="">
                    <div class="col-lg-12 col-md-12" style=" color: #000000;font-size: 30px;font-weight: 700;margin-top: 7%;">
                        Password has been changed successfully
                    </div>
                    <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4" style="background-color: #3D1369;border-radius: 4px;color: white;font-size: 16px;padding: 2%;margin-top: 3%;">
                        <a href="index.html" style="color: white !important;"><div class="col-lg-12 col-md-12 no-padding">GOTO HOME</div></a>
                    </div>
                </div>
            </div>

        </div>

<!--    <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 submit_p" id="form1" style="height: 90%;background: white;margin-top: 4%;">-->

<!--        <div class="col-lg-12 col-md-12" style="height: 100%;">-->
<!--            <div class="col-lg-12 col-md-12 no-padding"  style="height: 100%;">-->
<!--                <div class="col-lg-12 col-md-12 no-padding" style=" color: #000000;font-size: 30px;font-weight: 700;text-align: left;margin-top: 7%;">-->
<!--                    <a href="#" class="go-back1"  ><img src="src/img/back (3) copy.svg" alt="" style="float: left"></a><div style="text-align: center">Change Password</div></div>-->
<!--                <div class="col-lg-12 col-md-12 no-padding" style="margin-top: 17%;margin-bottom: 4%;">-->
<!--                    <img src="src/img/Group 3.svg" alt="">-->
<!--                    <div class="col-lg-12 col-md-12" style=" color: #000000;font-size: 30px;font-weight: 700;text-align: left;margin-top: 7%;">-->
<!--                        Password has been changed successfully-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-3" style="background-color: #3D1369;border-radius: 4px;">-->
<!--                        <div class="col-lg-12 col-md-12">GOTO HOME</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->


<!--    </div>-->
</div>

</div>
    <div class="col-lg-12 col-md-12 hidden-xs hidden-sm flex-container no-padding" style="background: white;height: 25vh;border-top: 1px solid #DCDCDC;">
        <div class="col-lg-12 col-md-12 no-padding">
            <div class="col-lg-6 col-md-6 no-padding">
                <div class="col-lg-3 col-md-3 col-lg-offset-1 no-padding"><img src="src/img/logo.svg" alt=""></div>
                <div class="col-lg-8 col-md-8" style="color: #666666;font-family: Montserrat;font-size: 14px;font-weight: 600;text-align: left">
                    <div class="col-lg-10 col-md-10">
                        <a href="about-us.html" style="color: #666666;cursor: pointer;">
                            <div class="col-lg-5 col-md-5">About Us</div>
                        </a>
                        <a href="flow-request.html" style="color: #666666;cursor: pointer;">
                            <div class="col-lg-5 col-md-5">Suggest flows</div>
                        </a>
                        <a href="feedback.html" style="color: #666666;cursor: pointer;">
                            <div class="col-lg-12 col-md-12" style="margin-top: 5%;">Feedback</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 no-padding" style="height: 100%;">
                <div class="col-lg-9 col-md-9" style="text-align: right;">
                    <div class="col-lg-12 col-md-12" style="margin-bottom: 7%;">
                        <img src="src/img/facebook (3).svg" alt="facebook">
                        <img src="src/img/instagram-sketched.svg" alt="instagram">
                        <img src="src/img/twitter (1).svg" alt="twitter">
                    </div>
                    <div class="col-lg-12 col-md-12" style="size: 14px;color: #A4A4A4;">© UiFlo. All rights reserved.</div>
                </div>
                <div class="col-lg-3 col-md-3 footer_img no-padding"></div>
            </div>
        </div>
    </div>

<!--    mobile view-->
    <div class=" col-xs-12 col-sm-12 hidden-lg hidden-md" style="z-index: 1">

        <div class="navbar " style="margin-bottom: 0 !important;z-index: 11111;">
            <div class="header-elements col-md-12 col-sm-12 col-xs-12 col-xs-12 hidden-md hidden-sm"
                 style="position: fixed; top: 0;left: 0; background: white;padding: 1%;box-shadow: 0 2px 7px 0 rgba(0,0,0,0.07);">

                <div id="mySidenav" class="sidenav">
                    <div class="side col-xs-12 no-padding" style="width: 80%;height: 100%; background: white !important;">
                        <div class="col-xs-12" style="box-shadow: 0 1px 2px #80808073;">
                            <a title="close button" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a style="text-align: left; margin-left: 44px; "> <img alt="enguru logo" style="width: 65%;" src="src/img/logo.svg"></a>
                        </div>
                        <div class="col-xs-12" style="margin-top: 20px;font-weight: bold;">
                            <a title="About us" href="about-us.html" class=" theme-font-3" style="text-align: left; ">About Us</a>
                            <a title="Feedback" href="feedback.html" class=" theme-font-3" style="text-align: left;">Feedback</a>
                            <a title="Flow Request" href="flow-request.html" class=" theme-font-3" style="text-align: left;">Flow Request</a>

                        </div>

                        <div class="col-xs-12" style="position:absolute; bottom: 14px; ">
                            <div ng-click="changePageRegister('./login.html#register')" ng-if="userRole=='unauth'"  id="loginbutton" class="col-xs-12 col-sm-12 no-padding signUp " type="button" data-toggle="modal" data-target="#myModal" style="display: none;padding-right: 0;" >
                                <div style="background-color: #3D1369;border-radius: 4px;color: white;padding: 4%;cursor: pointer;text-align: center;">
                                    SIGN UP
                                </div>
                            </div>
                            <div ng-click="changePageRegister('./login.html')" ng-if="userRole=='unauth'" id="signinbutton" class="col-xs-12 col-sm-12 no-padding" type="button">
                                <div style="background-color: #3D1369;border-radius: 4px;color: white;padding: 4%;cursor: pointer;text-align: center;">
                                    SIGN IN
                                </div>
                            </div>
                            <a  href="my-saves.html" ng-if="userRole!='unauth'" class=" col-xs-12 col-sm-12 mySaves no-padding" style="cursor: pointer; margin-top: 3%;">
                                <div class="" style=" border: 1px solid #3D1369;border-radius: 4px; color: #3D1369;text-align: center;font-size: 14px;padding: 4%;font-weight: 600;">
                                    MY SAVES
                                </div>
                            </a>
                            <div ng-if="userRole!='unauth'"  onclick="signOut();" class="col-xs-12 col-sm-12 no-padding" style="margin-top: 3%;cursor: pointer;"><div style="background-color: #3D1369;border-radius: 4px;color: white;padding: 4%;cursor: pointer;text-align: center;">
                                SIGN OUT
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 " style="text-align: center;padding: 0% 2%;">
                    <span style="font-size:26px;cursor:pointer; float: left;color: #666666;" onclick="openNav()">&#9776;</span>


                    <a title="Home" href="index.html"> <span class="">
                        <img alt="enguru logo" src="src/img/logo.svg"
                             style="height: 41px;width: 123px;">
                    </span></a>
                    <a href="my-profile.html" ng-if="userRole!='unauth'" ng-show="userRole!='unauth'">
                        <span class="" style="height: 100%;float: right;margin-top: 2%;"><img src="src/img/Path 5.svg" style="height: 100%;" alt=""></span>
                    </a>

                </div>
            </div>


        </div>
    </div>
    <div class="col-xs-12 col-sm-12 hidden-lg hidden-md" style="background: #F7F7F7;padding: 3%;">
        <div class="col-xs-12 col-sm-12" style="height: 90%;background: white;margin-top: 4%;">

            <div class="col-xs-12 col-sm-12 sq-price" style="height: 100%;">
                <div class="col-xs-12 col-sm-12"  ng-click="editable=1" onclick="edit_profile()" style="text-align: right;color: #3D1369;font-size: 12px;margin-top: 3%;font-weight: 700;cursor: pointer;">EDIT</div>
                <div class="col-xs-12 col-sm-12"  style="height: 80%;">
                    <div class="" style="margin-left: 19%;">
                        <div ng-show="user.profile_pic" id="profile-container" class=" ">
                            <img id="profileImage" src="{{user.profile_pic}}" />
                        </div>
                        <!-- <div ng-hide="user.profile_pic" id="profile-container" class=" col-lg-offset-4 col-md-offset-4">
                            <img id="profileImage" src="./src/img/default_profile_img.jpeg" />
                        </div> -->
                        <input id="imageUpload" type="file"
                               name="profile_photo" placeholder="Photo" required="" capture>
                    </div>
                    <!--                <div id="profile-pic" class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4" >-->
                    <!--                    <input type="file"-->
                    <!--                           class="filepond"-->
                    <!--                           name="filepond"-->
                    <!--                           accept="image/png, image/jpeg, image/gif"/>-->
                    <!--&lt;!&ndash;                    <img src="{{user.profile_pic}}" style="background: #D8D8D8;border-radius: 50%;height: 15vh; width: 15vh; margin-top: 12%;">&ndash;&gt;-->
                    <!--                </div>-->
                    <div ng-hide="editable"  class="col-xs-12 col-sm-12" id="myP" style="text-align: center;color: #666666;font-size: 16px;font-weight: 700;margin-top: 5%;">
                        {{user.first_name}}
                    </div>
                    <div ng-show="editable" class="col-xs-12 col-sm-12" id="myP" style="text-align: center;color: #666666;font-size: 16px;font-weight: 700;margin-top: 5%;">
                        <input type="text" ng-model="user.first_name" >
                    </div>
                    <div class="col-xs-12 col-sm-12" style="background-color: #FFFFFF;border: 1px solid #FFB2B2;border-radius: 16px;padding: 2%;color: #3D1369;font-size: 12px;text-align: center;font-weight: 600;margin-top: 3%;">
                        {{user.email}}
                    </div>
                    <div ng-click="EditUser()" class="col-xs-12 col-sm-12" id="save" type="submit" style="text-align: center;color: #3D1369;font-size: 16px;margin-top: 11%;font-weight: 700;cursor: pointer;">SAVE


                    </div>
                </div>
                <div  class="col-xs-12 col-sm-12" style="">
                    <div class="col-xs-12 col-sm-12" style="padding: 0">
                        <a href="#" class="change-password"><div style="color:#3D1369;font-size: 12px;text-align: left;padding: 2%;font-weight: bold;cursor: pointer;">CHANGE PASSWORD<span class="fa fa-angle-right" style="float: right;font-weight: bold;"></span></div></a>
                    </div>
                </div>
            </div>




            <div class="col-xs-12 col-sm-12 change_p" style="height: 100%;">
                <div class="col-xs-12 col-sm-12 no-padding"  style="height: 100%;">
                    <div class="col-xs-12 col-sm-12 no-padding" style=" color: #000000;font-size: 18px;font-weight: 700;text-align: left;margin-top: 7%;">
                        <a href="#" class="go-back"  ><img src="src/img/back (3) copy.svg" alt="" style="float: left"></a><div style="text-align: center">Change Password</div></div>
                    <div class="col-xs-12 col-sm-12 no-padding" style="margin-top: 17%;margin-bottom: 4%;">
                        <form action="">
                            <label class="col-xs-12 col-sm-12 no-padding">Password</label>
                            <input ng-model="password1" class="col-xs-12 col-sm-12" type="password" id="pwd"   placeholder="Enter password" style="background: white;border: 1px solid #C7C7C7;">
                            <label class="col-xs-12 col-sm-12 no-padding" style="margin-top: 4%;">Repeat Password</label>
                            <input ng-model="password2" class="col-xs-12 col-sm-12" type="password" id="pwd-repeat" placeholder="Repeat Password" style="background: white;border: 1px solid #C7C7C7;">

                            <input ng-click="ChangePassword()" type="submit" value="Submit" id="formButton" style="margin-top: 8%;">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 submit_p" id="form1" style="height: 100%;">
                <div class="col-xs-12 col-sm-12 no-padding"  style="height: 100%;">
                    <div class="col-xs-12 col-sm-12 no-padding" style=" color: #000000;font-size: 30px;font-weight: 700;text-align: left;margin-top: 7%;">
                        <div style="text-align: center">Change Password</div></div>
                    <div class="col-xs-12 col-sm-12 no-padding" style="margin-top: 17%;margin-bottom: 4%;text-align: center">
                        <img src="src/img/Group 3.svg" alt="">
                        <div class="col-xs-12 col-sm-12" style=" color: #000000;font-size: 30px;font-weight: 700;margin-top: 7%;">
                            Password has been changed successfully
                        </div>
                        <div class="col-xs-12 col-sm-12" style="background-color: #3D1369;border-radius: 4px;color: white;font-size: 16px;padding: 2%;margin-top: 3%;">
                            <a href="index.html" style="color: white !important;"><div class="col-lg-12 col-md-12 no-padding">GOTO HOME</div></a>
                        </div>
                    </div>
                </div>

            </div>

            <!--    <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 submit_p" id="form1" style="height: 90%;background: white;margin-top: 4%;">-->

            <!--        <div class="col-lg-12 col-md-12" style="height: 100%;">-->
            <!--            <div class="col-lg-12 col-md-12 no-padding"  style="height: 100%;">-->
            <!--                <div class="col-lg-12 col-md-12 no-padding" style=" color: #000000;font-size: 30px;font-weight: 700;text-align: left;margin-top: 7%;">-->
            <!--                    <a href="#" class="go-back1"  ><img src="src/img/back (3) copy.svg" alt="" style="float: left"></a><div style="text-align: center">Change Password</div></div>-->
            <!--                <div class="col-lg-12 col-md-12 no-padding" style="margin-top: 17%;margin-bottom: 4%;">-->
            <!--                    <img src="src/img/Group 3.svg" alt="">-->
            <!--                    <div class="col-lg-12 col-md-12" style=" color: #000000;font-size: 30px;font-weight: 700;text-align: left;margin-top: 7%;">-->
            <!--                        Password has been changed successfully-->
            <!--                    </div>-->
            <!--                    <div class="col-lg-3 col-md-3" style="background-color: #3D1369;border-radius: 4px;">-->
            <!--                        <div class="col-lg-12 col-md-12">GOTO HOME</div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <!--        </div>-->


            <!--    </div>-->
        </div>
    </div>
    <!--footer-->

    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg " style="background: white;padding: 7%;border-top: 1px solid #ECECEC;">
        <div class="col-xs-12 col-sm-12 no-padding">
            <div class="col-xs-12 col-sm-12 no-padding">
                <div class="col-xs-12 col-sm-12 no-padding"><img src="src/img/logo.svg" alt=""></div>
                <div class="col-xs-12 col-sm-12 no-padding" style="color: #666666;font-family: Montserrat;font-size: 14px;font-weight: 600;text-align: left">
                    <div class="col-xs-12 col-sm-12 no-padding" style="margin-top: 7%;">
                        <a href="about-us.html" class="col-xs-6 col-sm-6 no-padding" style="color: #666666;cursor: pointer;">
                            <div class="col-xs-12 col-sm-12 no-padding">About Us</div>
                        </a>
                        <a href="flow-request.html" class="col-xs-6 col-sm-6 no-padding" style="color: #666666;cursor: pointer;">
                            <div class="col-xs-12 col-sm-12 no-padding">Suggest flows</div>
                        </a>
                        <a href="feedback.html" class="col-xs-6 col-sm-6 no-padding" style="color: #666666;cursor: pointer;">
                            <div class="col-xs-12 col-sm-12 no-padding" style="margin-top: 15%;">Feedback</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 no-padding" style="margin-top: 7%;">
                <div class="col-xs-12 col-sm-12 no-padding" style="text-align: left;">
                    <div class="col-xs-12 col-sm-12 no-padding" style="margin-bottom: 7%;">
                        <img src="src/img/facebook (3).svg" alt="facebook">
                        <img src="src/img/instagram-sketched.svg" alt="instagram">
                        <img src="src/img/twitter (1).svg" alt="twitter">
                    </div>
                    <div class="col-xs-12 col-sm-12 no-padding" style="size: 14px;color: #A4A4A4;">© UiFlo. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
        $("#profileImage").click(function(e) {
            $("#imageUpload").click();
        });

        function fasterPreview( uploader ) {
            if ( uploader.files && uploader.files[0] ){
                $('#profileImage').attr('src',
                    window.URL.createObjectURL(uploader.files[0]) );
            }
        }

        $("#imageUpload").change(function(){
            fasterPreview( this );
        });
    </script>
<script>
    function openNav() {
        document.getElementById('mySidenav').style.width = '100%';
        document.getElementById("overlay").style.display = "block";

    }

    function closeNav() {
        document.getElementById('mySidenav').style.width = '0';
        document.getElementById("overlay").style.display = "none";
    }
</script>

<style>
    #formButton{
        background-color: #3D1369;
        color: white;
        padding: 7px 43px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }
    #imageUpload
    {
        display: none;
    }

    #profileImage
    {
        cursor: pointer;
    }

    #profile-container {
        width: 150px;
        height: 150px;
        overflow: hidden;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }

    #profile-container img {
        width: 150px;
        height: 150px;
    }
    a:hover{
        color: white;
    }
    #form1 {

        display:none;

    }
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #3D1369;
        color: white;
        padding: 12px 69px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }
    .filepond--drop-label {
        color: #4c4e53;
    }

    .filepond--label-action {
        text-decoration-color: #babdc0;
    }

    .filepond--panel-root {
        background-color: #edf0f4;
    }


    .filepond--root {
        width: 170px;
        margin: 0 auto;
    }

</style>

<script>
    document.getElementById("save").style.display = "none";
    function edit_profile() {
        document.getElementById("myP").contentEditable = true;
        document.getElementById("myP").style.background = "rgba(0, 0, 0, 0.08061079680919647)";
        document.getElementById("save").style.display = "block";
    }
    document.getElementById("save_d").style.display = "none";
    function edit_profile1() {
        document.getElementById("myP").contentEditable = true;
        document.getElementById("myP").style.background = "rgba(0, 0, 0, 0.08061079680919647)";
        document.getElementById("save_d").style.display = "block";
    }
    $('.change_p').hide();
    $('.change-password').on('click',
        function() {
            $('.sq-price, .change_p').toggle(0);
        }
    );
    $('.go-back').on('click',
        function() {
            $(' .change_p,.sq-price').toggle(0);
        }
    );
    $('.go-back1').on('click',
        function() {
            $(' .change_p,.submit_p').toggle(0);
        }
    );
    $("#formButton").click(function(){
        $("#form1").toggle(0);
        $('.change_p').hide();
    });
    /*
    We need to register the required plugins to do image manipulation and previewing.
    */
    FilePond.registerPlugin(
        // encodes the file as base64 data
        FilePondPluginFileEncode,

        // validates files based on input type
        FilePondPluginFileValidateType,

        // corrects mobile image orientation
        FilePondPluginImageExifOrientation,

        // previews the image
        FilePondPluginImagePreview,

        // crops the image to a certain aspect ratio
        FilePondPluginImageCrop,

        // resizes the image to fit a certain size
        FilePondPluginImageResize,

        // applies crop and resize information on the client
        FilePondPluginImageTransform
    );

    // Select the file input and use create() to turn it into a pond
    // in this example we pass properties along with the create method
    // we could have also put these on the file input element itself
    FilePond.create(
        document.querySelector('input'),
        {
            labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
            imagePreviewHeight: 170,
            imageCropAspectRatio: '1:1',
            imageResizeTargetWidth: 200,
            imageResizeTargetHeight: 200,
            stylePanelLayout: 'compact circle',
            styleLoadIndicatorPosition: 'center bottom',
            styleButtonRemoveItemPosition: 'center bottom'
        }
    );

</script>
<script type="text/javascript">

 

var app = angular.module('myApp',  []);
app.controller('myCtrl', function($scope, $http, $timeout) {

$scope.user_display_name = "Users";


$scope.CheckUser = function() {

    var headers = {"Authorization": "Token " + window.localStorage.getItem("token")}
    $scope.userId = window.localStorage.getItem('userId') || "unknown"
    $http({
        method: "GET",
        url: "http://13.126.184.35:8000/user/" + $scope.userId + "/" ,
        headers :headers
        })
    .then(function(response) {
        $scope.user = response.data;
        if (!$scope.user.profile_pic){
            $scope.user.profile_pic = "https://s3.ap-south-1.amazonaws.com/www.uiflo.com/test/src/img/default_profile_img.jpeg"
        }
        console.log($scope.user)

        if($scope.user.is_admin){
            $scope.userRole = "admin"
        }
        else if($scope.user.is_staff){
            $scope.userRole = "staff"
            $scope.ListRefrence();
        }
        else{
            $scope.userRole = "normal"
        }
 
 
    }
    ).catch(function error() {
        // alert("please sigin")
        // window.location.replace("./index.html");

    })
    ;

}

$scope.CheckUser();

    $scope.EditUser = function() {
    

        var f = document.getElementById('imageUpload').files[0];
        console.log(f)


        var myHeaders = new Headers();
        myHeaders.append("Authorization", "Token " + window.localStorage.getItem("token"))
        var url = "http://13.126.184.35:8000/user/" + window.localStorage.getItem("userId")+ "/" ;
        var formdata = new FormData(); 
        if (f){

        formdata.append("profile_pic", f);
        } 
        formdata.append("is_active", $scope.user.is_active); 
        // formdata.append("is_active", true); 
        formdata.append("is_staff", $scope.user.is_staff); 
        formdata.append("is_admin", $scope.user.is_admin); 
        formdata.append("first_name", $scope.user.first_name); 
        var requestOptions = {
        method: 'PUT',
        headers: myHeaders,
        body: formdata,
        redirect: 'follow'
        };

        fetch(url, requestOptions)
        .then(response => response.text()
        )
        .then((result) =>{
            console.log(result)
            alert("Saved") 
        })
        .catch(error => {
            $scope.screen_shorts_uploading = false;
            console.log('error', error)
        });
    };



$scope.ChangePassword = function() {

var headers = {"Authorization": "Token " + window.localStorage.getItem("token")}
$scope.userId = window.localStorage.getItem('userId') || "unknown"
var body = {};
if($scope.password1 == $scope.password2){
    body['password'] = $scope.password1;
}
$http({
    method: "PUT",
    url: "http://13.126.184.35:8000/user/" + $scope.userId + "/" ,
    data: body,
    headers : headers
    })
.then(function(response) { 
}
).catch(function error() {
    // alert("please sigin")
    // window.location.replace("./index.html");

})
;

}



})


</script>
